/* *****************************************************
btn
***************************************************** */

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 4px 16px 2px;
  text-align: left;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-color: #a9a9a9;
  color: #a9a9a9;
  @include font-line(12);
  @include b-radius(13);
  text-decoration: none;
  box-sizing: border-box;

  &+.btn {
    margin-left: 3px;
  }

  &:hover {
    color: #333;
    border-color: #ececec;
    background: #ececec;
    text-decoration: none;
  }

  @include sp {
    margin: 5px 0;
    padding: 4px 20px;
    font-size: 100%;
  }
}

input.btn {
  padding: 4px 16px 2px;
  background: none;
  cursor: pointer;
}

.btnLarge,
input.btnLarge {
  padding: 6px 24px 5px;
  @include font-line(14);
  @include b-radius(17);
}


.btn.bg-blue {
  color: #fff;
  border-color: #18a7e3;
  background: #18a7e3;

  &:hover {
    @include opa(0.8);
  }
}

.btn.bg-green {
  color: #fff;
  border-color: $mainColor;
  background: $mainColor;

  &:hover {
    @include opa(0.8);
  }
}

.btn.bg-red {
  color: #fff;
  border-color: #e21c00;
  background: #e21c00;

  &:hover {
    @include opa(0.8);
  }
}

.btn.btn-disabled,
input.btn.btn-disabled {
  color: #a3a3a3;
  background: #dddddd;
  border-color: #dddddd;
  cursor: default;
  outline: none;

  &:hover {
    @include opa(1);
  }
}

.l-login .btnLarge {
  width: 192px;
  height: 44px;
  padding: 11px 0 0;
  @include b-radius(20);
  text-align: center;
}

.btnSort {
  margin: 0 5px 10px;
  background: #FFF;
  border: none;
  cursor: pointer;
  color: #333;

  @include sp {
    width: 22%;
    margin: 0 5px 10px;
    padding: 4px;
    text-align: center;
    @include font-line(11);
  }
}

.btnSort.is-active {
  color: #fff;
  background: #333;
}

.button-group {
  margin: 0 -5px;
}

.button-group__item {
  display: flex;
  flex-wrap: wrap;

  @include sp {
    justify-content: center;
  }
}

.btn__link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  color: #222;
  transition: all .3s;
  @include font-line(13);

  &:hover {
    background: #8ed217;
    color: #fff;
    border-color: #8ed217;
  }
}

.btn-header {
  padding: 8px 16px;
  background: #222;
  border-color: #222;
  font-weight: bold;
  border-radius: 4px;
  @include font-line(15);
  color: #fff;
  transition: all .3s;

  &:hover {
    opacity: .8;
    background: #222;
    border-color: #222;
    color: #fff;
  }
}