/* *****************************************************
color
***************************************************** */

.color-green {
  color: $mainColor;
}

.color-blue {
  color: #1895dc;
}

.color-red {
  color: #e21c00;
}